body {
    border: 3px solid black;
    font-family: sans-serif;

}

h2 {text-align: center;
    text-transform: uppercase;
    background-color: #e9e3e3;
    font-size: 18px;
}

strong {
    font-weight: bolder;
    font-size: 18px;
}

.free {
    font-size: 16px;
    color: #e9e3e37e;
}