* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #1098ad;
}

/* top of page */

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 50px;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* header navigation */

nav {
  font-size: 18px;
}
nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
  color: #1098ad;
  text-decoration: none;
}
nav a:visited {
  text-decoration: underline;
  color: #1098ad;
}

nav a:hover {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: brown;
}

nav a:active {
  background-color: #444;
}

nav a:link:last-child {
  margin-right: 0;
}

/* beginning of body */

article {
  margin-bottom: 60px;
}

.postheader {
  margin-bottom: 40px;
}

/* main image */

.big image {
  width: 50%;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}
h2::after {
  content: "TOP";
  background-color: #ffe70c;
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 20px;
}

/* footer p {
  font-size: 16px;
} */

/*article header{
  font-style: italic;
}*/

/* .angel {
  font-style: italic;
  font-size: 18px;
} */

.copy {
  font-size: 18px;
}

.related {
  font-size: 18px;
  font-weight: bold;
}

.post {
  list-style: none;
  margin-left: 0;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 10px;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: rgb(90, 38, 19);
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  color: orange;
}

button {
  position: absolute;
  padding: 20px;
  cursor: pointer;
  bottom: 50px;
  right: 50px;
}

/* Float */
h1 {
  float: left;
}

nav {
  float: right;
}

.clearfix::after {
  content: ;
  clear: both;
  display: block;
}

article {
  float: left;
  width: 825px;
}

aside {
  float: right;
  width: 300px;
}

footer {
  clear: both;
}
